<h1>Your Tamagotchi      ^_^</h1>
<h2>Level:<%= @@levelScore %> </h2>

<p>Take care of it ^_^</p>
<p>
  Make time pass
</p>

<!-- <form action="/entername" method="post">
  <input type="text" name="name" placeholder="Enter a name">
  <button type="submit">click</button>
</form> -->

<form action="/timepass" method="post">
  <button type="click">Pass time</button>
</form>

<form action="/feedme" method="post">
  <button type="click">Feed me</button>
</form>

<h1>Keep me alive!</h1>
<p>Food total:</p><h2><%= @@foodScore %></h2>
